.container-fluid {
  padding: 3px;
}

.phone {
  align-items: center;
  background-color: #1d1d1d;
  border: 2px solid #c5c5c5;
  border-bottom: 1px solid #1d1d1d;
  margin: 0;
  font-size: 0.75rem;

  div.row {
    justify-content: center;
  }
}