.container-fluid {
  padding: 3px;
}

.phone-panel {
  display: flex;
  align-items: center;
  background-color: #1d1d1d;
  border: 2px solid #c5c5c5;
  border-bottom: 1px solid #1d1d1d;
  margin: 0;
}

.btn {
  padding: 5px 10px;
}

.btn-normal {
  margin-left: 5px;
  margin-right: 5px;
  background: #4a4a4a;
  background-image: linear-gradient(to bottom left, #4a4a4a, #4a4a4a, #4a4a4a);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #4a4a4a;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.info-pad {
  justify-content: center;

  .logo {
    background-color: #ffffff;
    padding: 24px 0px;
    text-align: center;

    a {
      color: #000000;
    }
  }

  .info {
    padding: 10px 30px;

    .caller-id {
      color: #ffffff;
      margin-bottom: 5px;
    }
  
    .user-name {
      margin-top: 5px;
      color: #69ad4b;
    }
  }
}

.control-pad {
  div.row {
    justify-content: center;
  }

  .audio-panel {
    font-size: 1.25rem;
    padding: 24px 0px;
    color: #ffffff;

    .mic-control {
      border-top: 3px solid #f80101;
      padding-top: 5px;
      margin: 0px 10px;
    }

    .receiver-control {
      border-top: 3px solid #6bb04c;
      padding-top: 5px;
      margin: 0px 10px;
    }
  }

  .line-panel {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.75rem;
    width: 200px;

    span {
      color: #ffffff;
      margin-left: 5px;
      margin-right: 10px;
    }

    input {
      width: 50%;
    }
  }

  .btns-panel {
    padding: 5px 0px;
    
    .btn {
      font-size: 0.75rem;
    }    

    .phone-ctrlbtn {
      width: 120px;      
    }

    .phone-ctrlbtn-small {
      width: 70px;
    }

    input {
      width: 120px;
    }
  }

  .input-panel {
    display: flex;
    align-items: center;
  }
}

.phone-pad {
  margin: auto;
  position: relative;

  div.row {
    justify-content: center;
  }

  .input-number {
    margin: 0px 10px;
    padding: 24px 0px;

    input {
      border: none;
      background-color: #ffffff;
    }

    button {
      border: none;
      background-color: #ffffff;
    }
  }

  .btns-panel {
    padding: 20px 0px;
  }
}

.number-pad {
  margin: 0px 0px;
  position: absolute;
  z-index: 9999;
  top: 78px;
  width: 100%;
  background-color: transparent;

  .number-group {
    padding: 8px 20px;
    align-items: center;
    background-color: #1d1d1d;
    border: 2px solid #c5c5c5;
    border-top: none;
  }

  .btn-number {
    background: #4a4a4a;
    background-image: linear-gradient(to bottom left, #4a4a4a, #4a4a4a, #4a4a4a);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #4a4a4a;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    padding: 5px 14px;
    margin: 5px 10px;
  }
}

.search-pad {
  margin: 0px 0px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  top: 78px;
  background-color: transparent;

  .search-list {
    padding: 8px 20px;
    background-color: #1d1d1d;
    border: 2px solid #c5c5c5;
    border-top: none;
    width: 250px;

    p {
      text-align: left;
      color: #ffffff;
    }
  }
}

.video {
  display: flex;
  background: black;
  position: relative;
  border: 1px solid lightgrey;
  height: 200px;
  width: 200px;
  margin: 10px 0;
}

.video-local {
  display: flex;
  background: black;
  position: absolute;
  border: 1px solid lightgrey;
  height: 40px;
  width: 40px;
  top: 150px;
  left: 10px;
}
