<div class=" container-fluid">
  <div class=" row phone-panel">
    <div class=" col-lg-3 col-md-6 col-sm-12">
      <app-user-info
        [callerId]="callerId"
        [callStatus]="callStatus"
        [registerStatus]="registerStatus"
        (register)="onRegister($event)"
        (unregister)="onUnregister()">
      </app-user-info>
    </div>
    <div class=" col-lg-2 col-md-6 col-sm-12 control-pad">
      <app-line-info
        [selectLine]="selectLine"
        [micMeter]="micLiveMeter"
        [receiverMeter]="receiverLiveMeter"
        [lineStatusOne]="lineStatusOne"
        [lineStatusTwo]="lineStatusTwo"
        (changeReceiverVolume)="changeReceiverVolume($event)"
        (changeLine)="changeLine($event)">
      </app-line-info>
    </div>
    <div class=" col-lg-4 col-md-6 col-sm-12 control-pad">
      <app-phone-control
        [holdBtnDisabled]="holdBtnDisabled"
        [muteBtnDisabled]="muteBtnDisabled"
        [dndBtnDisabled]="dndBtnDisabled"
        [beginBtnDisabled]="beginBtnDisabled"
        [endBtnDisabled]="endBtnDisabled"
        [dndStatus]="dndStatus"
        [holdToggle]="holdStatus"
        [muteToggle]="muteStatus"
        [phoneContacts]="phoneContacts"
        (clickNumber)="onClickNumber($event)"
        (changeNumber)="onChangeNumber($event)"
        (hold)="onHold($event)"
        (mute)="onMute($event)"
        (dnd)="onDnd()"
        (hangupCall)="onHangupCall()"
        (makeCall)="onMakeCall()">
      </app-phone-control>
    </div>
    <div class=" col-lg-3 col-md-6 col-sm-12 control-pad">
      <app-misc-control
        [transferState]="transferState"
        [xferBtnDisabled]="xferBtnDisabled"
        [monitorBtnDisabled]="monitorBtnDisabled"
        [messageBtnDisabled]="messageBtnDisabled"        
        [receivedMessages]="receivedMessages"
        [confState]="confState"
        [confBtnDisabled]="confBtnDisabled"
        (transfer)="onMakeTransfer($event)"
        (monitor)="onDialMonitor()"
        (message)="onMessageDialog()"
        (conference)="onMakeConference($event)">
      </app-misc-control>
    </div>
  </div>  
</div>

<div>
  <app-message-panel 
    *ngIf="isMessage"
    [messageContacts]="messageContacts"
    [phoneContacts]="phoneContacts"
    [extensionsForReceived]="extensionsForReceived"
    [selectedExtension]="selectedExtension"
    (changeSelExtension)="onChangeSelExtension($event)"
    (sendMessage)="onSendMessage($event)">
  </app-message-panel>
</div>

<audio id="remoteAudio1" controls style="margin-top: 50px;" hidden>
  <p>Your browser doesn't support HTML5 audio.</p>
</audio>

<audio id="remoteAudio2" controls style="margin-top: 50px;" hidden>
  <p>Your browser doesn't support HTML5 audio.</p>
</audio>

<audio id="localAudio1" controls style="margin-top: 50px;" hidden>
  <p>Your browser doesn't support HTML5 audio.</p>
</audio>

<audio id="localAudio2" controls style="margin-top: 50px;" hidden>
  <p>Your browser doesn't support HTML5 audio.</p>
</audio>