<div class=" container-fluid">
  <div class=" row phone-panel">
    <div class="col-lg-2 col-md-2 col-sm-12 info-pad">
      <div class=" row">
        <div class=" col-4 logo">
          <a href="javascript:void(0)"> Logo </a>
        </div>
        <div class=" col-8 info">
          <div class=" row">
            <div class= " caller-id">
              <span>CallerID: </span>
              <span>{{callerId}}</span>
            </div>
          </div>
          <div class=" row">
            <div class= " user-name">
              <span>Welcome {{phoneUser?.displayName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 control-pad">
      <div class=" row">
        <div class=" audio-panel">
          <span class=" mic-control"><i class="fas fa-microphone"></i></span>
          <span class=" receiver-control"><i class="fas fa-headset"></i></span>
        </div>
        <div class=" line-panel">
          <mat-radio-group [(ngModel)]="selectLine" (ngModelChange)="changeLine()">
            <div class=" ">
              <mat-radio-button value="1">
                <span>Line 1:</span>
                <input type="text" placeholder="CallerID Info" id="callerid_line1">
              </mat-radio-button>
            </div>
            <div class=" ">
              <mat-radio-button value="2">
                <span>Line 2:</span>
                <input type="text" placeholder="CallerID Info" id="callerid_line2">
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div class=" btns-panel">
          <div class=" row">
            <div class=" col">
              <button class=" btn btn-fill btn-normal phone-ctrlbtn-small" id="hold-btn" (click)="onHold()">{{holdToggle?"Unhold":"Hold"}}</button>
            </div>
            <div class=" col">
              <button class=" btn btn-fill btn-normal phone-ctrlbtn-small" id="mute-btn" (click)="onMute()">{{muteToggle?"Unmute":"Mute"}}</button>            
            </div>
          </div>
          <div class=" row">
            <div class=" col">
              <button class=" btn btn-fill phone-ctrlbtn-small" [ngClass]="dndToggle ? 'btn-success' : 'btn-danger'"  id="dnd-btn" (click)="onDnd()">{{dndToggle?"DND OFF":"DND ON"}}</button>
            </div>
            <div class=" col">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-3 col-sm-12 phone-pad">
      <div class=" row">
        <div class=" btns-panel">
          <button class=" btn btn-fill btn-danger" id="end-call" (click)="hangupCall()"><i class="fas fa-phone-slash"></i></button>
        </div>
        <div class=" input-number">
          <input matInput type="text" id="call-number" (input)="searchContact()">
          <button id="number-toggle"><i class="fas fa-bars"></i></button>
        </div>
        <div class=" btns-panel">
          <button class=" btn btn-fill btn-success" id="begin-call" (click)="makeCall()"><i class="fas fa-phone-alt"></i></button>
        </div>
      </div>
      <div class=" row number-pad" *ngIf="this.numberBtnToggle">
        <div class=" number-group">
          <div class=" row">
            <button *ngFor="let n of ['1', '2', '3'];" class=" btn btn-fill btn-number" (click)="clickNumber(n)">{{n}}</button>
          </div>
          <div class=" row">
            <button *ngFor="let n of ['4', '5', '6'];" class=" btn btn-fill btn-number" (click)="clickNumber(n)">{{n}}</button>
          </div>
          <div class=" row">
            <button *ngFor="let n of ['7', '8', '9'];" class=" btn btn-fill btn-number" (click)="clickNumber(n)">{{n}}</button>
          </div>
          <div class=" row">
            <button *ngFor="let n of ['#', '0', '*'];" class=" btn btn-fill btn-number" (click)="clickNumber(n)">{{n}}</button>
          </div>
        </div>
      </div>
      <div class=" row search-pad" *ngIf="this.searchResult.length > 0 && !this.numberBtnToggle">
        <div class=" search-list">
          <div class=" row" *ngFor="let item of this.searchResult;" (click)="clickSearchList(item.extension)">
            <div class=" col-8">
              <p>{{item.firstName}} {{item.lastName}}</p>
            </div>
            <div class=" col-4">
              <p>{{item.extension}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-3 col-sm-12 control-pad">
      <div class=" row">
        <div class=" btns-panel">
          <div>
            <button class=" btn btn-fill btn-normal phone-ctrlbtn" id="transfer-call" (click)="makeTransfer()">X-fer</button>
          </div>
          <div>
            <button class=" btn btn-fill btn-normal phone-ctrlbtn">Conf</button>
          </div>
        </div>
        <div class=" input-panel">
          <div>
            <button class=" btn btn-fill btn-normal btn-number"><i class="fas fa-record-vinyl"></i></button>
            <input type="text">
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<audio id="remoteAudio" controls hidden>
  <p>Your browser doesn't support HTML5 audio.</p>
</audio>

<div class="video" hidden>
  <video id="localVideo" width="100%">
    <p>Your browser doesn't support HTML5 video.</p>
  </video>
</div>

<ng-template #content let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      type="text"
    />

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>
