<div class=" col-lg-6 col-md-12 col-sm-12 message-panel">
  <div class=" row">
    <div class=" col-4 contact-list">
      <div class=" row">
        <div class=" col search-pad">
          <form class="form-inline search-form">
            <mat-icon>search</mat-icon>
            <input class="form-control" type="text" placeholder="Find people and conversations." aria-label="Search">
          </form>
        </div>
      </div>
      <div class=" row plus-pad">
        <button mat-button matSuffix mat-icon-button class="plus-btn">+</button>
      </div>
      <div class=" row">
        <div class=" col contacts-pad">
          <div *ngFor="let contact of phoneContacts;" [ngClass]="{'row':true, 'contact-item':true, 'selected':contact.extension === selectedExtension}" [id]="contact.extension" (click)="onSelectContact(contact.extension)">
            <div class=" col">
              <div class=" row">
                <p class=" contact-name">{{contact.firstName}} {{contact.lastName}}</p>
              </div>
              <div class=" row">
                <p class=" contact-number">{{contact.extension}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-8 message-list">
      <div class=" row">
        <div class=" col current-name">
          <p>{{curName}}</p>
        </div>        
      </div>
      <div class=" row">
        <div class=" col message-box" id="message-box" #scrollMe>
          <div *ngFor="let record of activeRecords" #messages [ngClass]="{'row':true, 'received':!record.sent, 'mb-3':true}">
            <div>
              <span class=" time-info">
                {{record.sent?'' : curName+', '}}{{record.datetime | date:'h:mm a'}}
              </span>
              <span [ngClass]="{'received-message':!record.sent, 'sent-message':record.sent}">
                {{record.body}}
              </span>
            </div>            
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col">
          <form class="form-inline message-form">
            <input class="form-control" type="text" placeholder="Type Message" [(ngModel)]="messageStr" name="message">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSendMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>