.message-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #1d1d1d;
  border-radius: 15px;
}

.contact-list {
  border-right: 2px solid #75757a;
  padding: 20px 15px;
  overflow-y: auto;

  .search-pad {
    margin-bottom: 50px;
    color: #ffffff;
    position: relative;

    .search-form {
      background-color: #2f2f33;
      border-radius: 7px;
      padding: 2px 4px;

      input {
        border: none;
        width: calc(100% - 24px);
      }
    }
  }

  .plus-pad {
    position: absolute;
    top: 45px;
    right: 45px;

    .plus-btn {
      font-size: 20px;
      border-radius: 50%;
      background-color: #06002f;
    }
  }

  .search-result-pad {
    margin: 0px 0px;
    position: absolute;
    z-index: 9999;
    width: 60%;
    top: 60px;
    left: 20px;
    background-color: transparent;
  
    .search-result-list {
      padding: 8px 20px;
      background-color: #1d1d1d;
      border: 2px solid #75757a;
      border-top: none;
      width: 170px;
  
      p {
        text-align: left;
        color: #ffffff;
      }
    }
  }

  .contacts-pad {
    .contact-item { 
      padding: 7px 15px 3px 15px;
      margin-bottom: 10px;
      position: relative;
    }

    .selected {      
      background-color: #2f2f33;
      border-radius: 8px;
    }

    .contact-name {
      font-size: 0.8rem;
    }

    .contact-number {
      font-size: 0.5rem;
    }

    .contact-menu {
      position: absolute;
      right: -15px;
      top: 0px;
      color: #ffffff;
    }
    
  }
}

.message-list {
  padding: 20px 30px;

  .current-name {
    padding: 10px 10px 15px 10px;
    border-bottom: 2px solid #75757a;
  }

  .message-box {
    height: 500px;
    padding: 10px 20px 30px 20px;
    border-bottom: 2px solid #75757a;
    overflow-y: auto;
    color: #ffffff;

    .time-info {
      font-size: 0.6rem;
      height: 26px;
      display: block;
    }

    .sent-message {
      background-color: #2f2f33;
      padding: 10px 10px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .received {
      justify-content: flex-end;
    }

    .received-message {
      background-color: #06002f;
      padding: 10px 10px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
  }

  .message-form {
    margin-top: 10px;
    font-size: 0.75rem;
    color: white;
    background-color: #2f2f33;
    border-radius: 7px;
    padding: 2px 4px;

    input {      
      border: none;
      width: calc(100% - 40px);
    }
    
    .mat-focused .mat-form-field-underline {
      display: none;
    }
  }
}

::ng-deep .mat-button{
  color: white !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}