.input-number {
    margin: 0px 10px;
    padding: 10px 0px;
    position: relative;
  
    input {
      border: none;
      background-color: #ffffff;
      width: 100px;
    }
  
    button {
      border: none;
      background-color: #ffffff;
    }
  }
  
  .number-pad {
    margin: 0px 0px;
    position: absolute;
    z-index: 9999;
    top: 42px;
    left: 60px;
    width: 100%;
    background-color: transparent;
  
    .number-group {
      padding: 5px 20px;
      align-items: center;
      background-color: #1d1d1d;
      border: 2px solid #c5c5c5;
      border-top: none;
    }
  
    .btn-number {
      background: #4a4a4a;
      background-image: linear-gradient(to bottom left, #4a4a4a, #4a4a4a, #4a4a4a);
      background-size: 210% 210%;
      background-position: top right;
      background-color: #4a4a4a;
      transition: all 0.15s ease;
      box-shadow: none;
      color: #ffffff;
      padding: 7px 14px;
      margin: 3px 3px;
    }
  }
  
  .search-pad {
    margin: 0px 0px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 42px;
    left: 0px;
    background-color: transparent;
  
    .search-list {
      padding: 8px 20px;
      background-color: #1d1d1d;
      border: 2px solid #c5c5c5;
      border-top: none;
      width: 170px;
  
      p {
        text-align: left;
        color: #ffffff;
      }
    }
  }