<div class=" row">
  <div class=" audio-panel">
    <div class=" row">
      <div class=" col mic-panel">
        <div class=" mic-meter">
          <mat-progress-bar [value]="micLiveMeter"></mat-progress-bar>
        </div>
        <span class=" mic-control" id="mic-control"><i class="fas fa-microphone"></i></span>
      </div>
      <div class=" col receiver-panel">
        <div class=" receiver-meter">
          <mat-progress-bar [value]="receiverLiveMeter"></mat-progress-bar>
        </div>
        <span class=" receiver-control" id="receiver-control"><i class="fas fa-headset"></i></span>
        <div class=" row receiver-slider-pad" *ngIf="this.receiverCtrlToggle">
          <div class=" slider-group" (clickOutside)="onClickOutsideReceiver($event)">
            <div class=" row">
              <mat-slider thumbLabel class=" receiver-ctrl" min="0" max="100" [(ngModel)]="receiverVolume" (change) = "onChangeReceiverVolume()" vertical></mat-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" line-panel">
    <mat-radio-group [(ngModel)]="selectLine" (ngModelChange)="onChangeLine()">
      <div>
        <mat-radio-button value="1">
          <span>Line 1:</span>
        </mat-radio-button>
        <input type="text" placeholder="CallerID Info" id="callerid_line1" disabled>
      </div>
      <div>
        <mat-radio-button value="2">
          <span>Line 2:</span>
        </mat-radio-button>
        <input type="text" placeholder="CallerID Info" id="callerid_line2" disabled>
      </div>
    </mat-radio-group>
  </div>
</div>