/* You can add global styles to this file, and also import other style files */

.main-panel {
  background: #ffffff;
  border: none;
  font-size: 1rem;
}

.container-fluid {
  padding: 3px;
}

.phone-panel {
  display: flex;
  align-items: center;
  background-color: #1d1d1d;
  border-left: 2px solid #c5c5c5;
  border-right: 2px solid #c5c5c5;
  border-top: 2px solid #c5c5c5;
}

.logo {
  background-color: #ffffff;
  padding: 18px 20px;

  a {
    color: #000000;
  }
}

.phone-caller-id {
  color: #ffffff;
  padding: 10px 10px;
}

.user-name {
  color: #69ad4b;
  padding: 0px 10px;
}

.device-panel {
  font-size: 1.25rem;
  color: #ffffff;
  .device-mic {
    border-top: 3px solid #f80101;
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 10px;
  }
  .device-receiver {
    border-top: 3px solid #6bb04c;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
  }
}

.line-panel {
  padding: 0px 30px;
  font-size: 0.5rem;

  span {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 10px;
  }

  .line-input {
    width: 80px;
  }
}

.btn {
  padding: 5px 14px;
}

.btn-normal {
  background: #4a4a4a;
  background-image: linear-gradient(to bottom left, #4a4a4a, #4a4a4a, #4a4a4a);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #4a4a4a;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.phone-control {
  margin-left: 5px;
  margin-right: 5px;
}

.number-panel {
  .number-group {
    position: absolute;
    left: 770px;
    width: 504px;
    padding: 8px 10px;
    align-items: center;
    background-color: #1d1d1d;
    border-left: 4px solid #c5c5c5;
    border-right: 4px solid #c5c5c5;
    border-bottom: 4px solid #5e5e5e;
  }
}

.btn-number {
  background: #4a4a4a;
  background-image: linear-gradient(to bottom left, #4a4a4a, #4a4a4a, #4a4a4a);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #4a4a4a;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
  margin: 0px 2px;
}
