/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label {
  margin-bottom: 0px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 0px;
  font-size: 0.6rem;
  border-radius: 3px;
}

.btn-normal {
  background: #4a4a4a;
  background-image: linear-gradient(to bottom left, #4a4a4a, #4a4a4a, #4a4a4a);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #4a4a4a;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.btns-panel {
  padding: 5px 0px;

  input {
    width: 120px;
  }
}

.main-panel {
  background: #ffffff;
  border: none;
  font-size: 0.75rem;
}

.control-pad {
  div.row {
    justify-content: center;
  }
}

.mat-radio-outer-circle {
  border-color: rgba(255, 255, 255, 0.54);
  height: 12px !important;
  top: 4px !important;
  width: 12px !important;
}

.mat-radio-inner-circle {
  height: 12px !important;
  top: 4px !important;
  width: 12px !important;
}

.mat-radio-label-content {
  padding-left: 0px !important;
}

.mat-dialog-container {
  background: #1d1d1d !important;
}

.mat-menu-panel {
  background-color: #1d1d1d !important;
}

.mat-menu-item {
  color: #ffffff;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius :1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}