.info-pad {
  font-size: 0.75rem;
  position: relative;
  justify-content: flex-start;
  
  .logo {
    padding: 6px 0px;
    text-align: center;
    font-size: 1.25rem;

    a {
      color: #ffffff;
    }
  }

  .caller-id {
    padding: 12px 8px;
    color: #ffffff;
  }

  .user-name {
    padding: 12px 10px;
    color: #6bb04c;
  }
}

.login-pad {
  margin: 0px 0px;
  width: 100%;
  background-color: transparent;
  font-size: 0.6rem;
  justify-content: center;

  .login-panel {
    padding: 5px 5px;
    align-items: center;
    background-color: #1d1d1d;
  }

  .login-btn {
    width: 80px;
  }
}